.app {
  display: flex;
}

.main-content {
  margin-left: 250px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main-content {
    margin-left: 200px;
  }
}

@media (max-width: 576px) {
  .app {
    flex-direction: column;
  }

  .main-content {
    margin-left: 0;
    padding: 10px;
  }
}
